@use "mixins" as *;
@use "fonts" as *;
@use "colors" as *;
@use "animations" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  width: 100%;
  margin: 0;
  color: $black;
  font-family: "AvenirNextLTPro", sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

// LOGO styling

.logo {
  max-width: 7.5rem;
  max-height: 2.5rem;
}

// HEADER section styling

.header {
  width: 100%;
  @include flex(flex, center, center, column);
  padding-top: 1.5rem;
  gap: 0.5rem;
  background-color: $black;

  @include tablet {
    @include flex(flex, center, flex-start, row);
    gap: 3rem;
    padding-left: 2rem;
  }

  @include desktop {
    padding-left: 6rem;
  }
  &__logo {
    &:hover {
      animation: gelatine 0.5s infinite;
    }
  }
}

// HEADER NAV styling

.nav {
  width: 100%;
  &__list {
    @include flex(flex, center, center, row);

    @include tablet {
      @include flex(flex, flex-start);
      gap: 1.5rem;
    }
  }
  &__item {
    width: 50%;
    @include mobile-labels-buttons;
    text-align: center;
    padding-bottom: 1rem;
    transition: 0.5s linear transform;
    &:hover {
      transform: translateX(5px);
      border-bottom: 3px solid $white;
    }

    @include tablet {
      width: 10%;
      @include desktop-labels-buttons;
    }

    @include desktop {
      width: 5%;
    }
    &--active {
      @extend .nav__item;
      border-bottom: 3px solid $white;
    }
  }
  &__link {
    &--active {
      color: $white;
    }
    &--inactive {
      color: $mercury;
      font-weight: 400;
    }
  }
}

// PRIMARY HERO SECTION styling

.hero {
  width: 100%;
  height: 50vw;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  @include flex(flex, center, normal, column);
  &--bio {
    background-image: url(../../assets/images/hero-bio.jpg);
  }
  &__overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: $black;
    opacity: 50%;
  }
  &__text {
    @include mobile-page-header;

    @include tablet {
      @include desktop-page-header;
    }
  }
  &__sub-text {
    @include mobile-subheader;

    @include tablet {
      @include desktop-section-header;
    }
  }
  &__text-container {
    color: $white;
    position: absolute;
    margin-left: 1.5rem;

    @include tablet {
      margin-left: 2rem;
    }

    @include desktop {
      margin-left: 6rem;
    }
  }
}

//   SECTION HERO IMAGE styling

.section-hero-image {
  width: 100%;
  height: 50vw;

  @include tablet {
    height: 40vw;
  }
  &--bio {
    @extend .section-hero-image;
    background: url(../assets/images/band.jpg);
    background-position: center;
    background-size: cover;
  }
}

//   FOOTER SECTION styling

.footer {
  @include mobile-footer;
  color: $white;

  @include tablet {
    @include desktop-footer;
  }

  &__top-container {
    @include tablet {
      @include flex(flex, space-between);
    }
  }
  &__heading-social-container {
    @include tablet {
      @include flex(flex, center, center);
      gap: 1.5rem;
    }

    @include desktop {
      gap: 2.5rem;
    }
  }
  &__heading {
    @include mobile-section-header;

    @include tablet {
      @include desktop-section-header;
    }
  }
  &__social {
    @include flex(flex, normal);
    gap: 1.5rem;
  }
  &__logo-top {
    display: none;

    @include tablet {
      @include flex(flex, center, center);
    }
  }
  &__contact-container {
    @include flex(flex, center, normal, column);
    gap: 1rem;
    margin: 1.5rem 0 3.5rem 0;

    @include tablet {
      @include flex(flex, normal);
      gap: 2rem;
    }

    @include desktop {
      gap: 3.5rem;
    }
  }
  &__contact {
    @include flex(flex, center, normal, column);
    gap: 1rem;

    @include tablet {
      gap: 1.5rem;
    }
  }
  &__contact-manager,
  &__contact-company,
  &__contact-description,
  &__contact-location {
    margin: 0;
  }
  &__contact-manager,
  &__contact-company {
    font-weight: 700;
  }
  &__contact-email {
    color: $white;
    &:hover {
      text-decoration: underline;
    }
  }
  &__copyright {
    font-size: 0.625rem;
    @include tablet {
      @include desktop-footer;
    }
  }
  &__logo-bot {
    @include tablet {
      display: none;
    }
  }
}

// REUSABLE CONTENT BLOCK Styling

.content-block {
  padding: 1.5rem;
  background-color: $white;

  @include tablet {
    padding: 2rem;
  }

  @include desktop {
    padding: 2rem 6rem 2rem 6rem;
  }

  &--gray {
    @extend.content-block;
    background-color: $alabaster;
  }
  &--black {
    @extend.content-block;
    background-color: $black;
  }
  &__heading {
    @include mobile-section-header;
    margin: 0 0 0.5rem 0;

    @include tablet {
      @include desktop-section-header;
      margin: 1rem 0 1rem 0;
    }

    @include desktop {
      margin: 2rem 0 2rem 0;
    }
  }
  &__alignment-container {
    @include tablet {
      margin: 0 3.5rem 0 3.5rem;
    }

    @include desktop {
      margin: 0 6rem 0 6rem;
    }
  }
}

// REUSABLE ARTICLE styling

.article {
  &__heading {
    @include mobile-subheader;
    margin-top: 1.5rem;

    @include tablet {
      @include desktop-subheader;
      margin-top: 3rem;
    }
  }
  &__container {
    @include flex(flex, center, normal, column);
    gap: 1rem;

    @include tablet {
      @include flex(flex, normal);
      gap: 1rem;
    }
  }
  &__paragraph {
    @include mobile-body;
    margin: 0;

    @include tablet {
      @include desktop-body;
    }
  }
}

// REUSABLE BUTTON styling

.btn { 
  @include mobile-labels-buttons;
  width: 100%;
  padding: 0.5rem;
  background-color: $black;
  border-radius: 4px;
  border: transparent;
  color: $white;
  font-size: 1rem;

  @include tablet { 
    @include desktop-labels-buttons;
    width: 25%;
    align-self: flex-end;
  }
}

// CONTENT DIVIDER styling

.content-divider { 
  width: 100%;
  height: 1px;
  background-color: $mercury;
  border: none;
}

// HIDE styling

.hide-for-medium { 
  @include tablet { 
    display: none;
  }
}

.hide-for-mobile { 
  display: none;

  @include tablet { 

  }
}


// CLICKED styling 

.clicked { 
  background-color: $mercury;
}